<form method="get" action="/quizzes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %>
	<input type="text" name="respuesta" placeholder="Respuesta" />
	<input type="submit" value="Enviar"/>
</form>